{% extends "layout_login.html" %}
{% block content %}
<br></br>
<br></br>
<br></br>
<div class="container p-3 rounded-3" style="background-color:#B83B5E; width:500px; color:#F9ED69">
    <div class="text-center">
        <img class="img-fluid d-inline-block align-text-top" src="{{ url_for('static', filename='reviews_logo.png')}}" style="width:600px; height:50px">
    </div>
    <br></br>
    <div class="text-center">
        <p style="font-size:18px"><strong>To change your password, please fill in the form below:</strong></p>
    </div>
    <div class="container p-3"> 
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="mb-3">
                <div class="mb-3 p-3 form-group">
                    <div class="form-floating">
                        {% if form.username.errors %}
                            {{ form.username(class="form-control form-control-lg is-invalid") }}  
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="form-control form-control-lg", placeholder="Enter Username") }}
                        {% endif %}
                        {{ form.username.label(class="form-control-label") }}
                    </div>
                </div>
                <div class="mb-3 p-3 input-group">
                    <div class="form-floating">
                        {% if form.old_password.errors %}
                            {{ form.old_password(class="form-control form-control-lg is-invalid") }}  
                            <div class="invalid-feedback">
                                {% for error in form.old_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.old_password(class="form-control form-control-lg rounded-3", 
                                placeholder="Enter Current Password", type="password",
                                id="id_password", maxlength="20") }}
                            <i class="icon bi bi-eye-slash" id="togglePassword"></i>
                        {% endif %}
                        {{ form.old_password.label(class="form-control-label") }}
                    </div>
                </div>
                <div class="mb-3 p-3 input-group">
                    <div class="form-floating">
                        {% if form.new_password.errors %}
                            {{ form.new_password(class="form-control form-control-lg is-invalid") }}  
                            <div class="invalid-feedback">
                                {% for error in form.new_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.new_password(class="form-control form-control-lg rounded-3", 
                                placeholder="Enter New Password", type="password", 
                                id="new_password", maxlength="20") }} 
                            <i class="icon bi bi-eye-slash" id="toggle_new"></i>
                        {% endif %}
                        {{ form.new_password.label(class="form-control-label") }}
                    </div>
                </div>
                <div class="mb-3 p-3 input-group">
                    <div class="form-floating">
                        {% if form.confirmed_new_password.errors %}
                            {{ form.confirmed_new_password(class="form-control form-control-lg is-invalid") }}  
                            <div class="invalid-feedback">
                                {% for error in form.confirmed_new_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.confirmed_new_password(class="form-control form-control-lg rounded-3", 
                                placeholder="Confirm New Password", type="password",
                                id="confirm_password", maxlength="20") }}
                            <i class="icon bi bi-eye-slash" id="toggle_confirm"></i>
                        {% endif %}
                        {{ form.confirmed_new_password.label(class="form-control-label") }}
                    </div>  
                </div>
            </fieldset>
            <div class="mb-3 p-3 text-center">
                {{ form.submit(class="btn btn-primary col-12")}}
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-3">
            <a href="/account_info">
                <i class="bi bi-arrow-left" style="font-size:30px; color:#F9ED69"></i>
            </a>
        </div>
        <div class="col-2"></div>
        <div class="col">
            <a href="/">
                <i class="bi bi-house" style="font-size:30px; color:#F9ED69"></i>
            </a>
        </div>
    </div>
</div>
<br></br>
<br></br>
<br></br>
<script>

const togglePassword = document.querySelector('#togglePassword');
const password = document.querySelector('#id_password');

togglePassword.addEventListener('click', function (e) {
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
    this.classList.toggle('bi-eye');
});

const togglePassword_new = document.querySelector('#toggle_new');
const new_password = document.querySelector('#new_password');

togglePassword_new.addEventListener('click', function (e) {
    const type = new_password.getAttribute('type') === 'password' ? 'text' : 'password';
    new_password.setAttribute('type', type);
    this.classList.toggle('bi-eye');
});

const togglePassword_confirm = document.querySelector('#toggle_confirm');
const confirm_password = document.querySelector('#confirm_password');

togglePassword_confirm.addEventListener('click', function (e) {
    const type = confirm_password.getAttribute('type') === 'password' ? 'text' : 'password';
    confirm_password.setAttribute('type', type);
    this.classList.toggle('bi-eye');
});
</script>

{% endblock content %}