{% extends "layout_login.html" %}
{% block content %}
<br></br>
<br></br>
<br></br>
<br></br>
<div class="container p-3 rounded-3" style="background-color:#B83B5E; width:500px; color:#F9ED69">
    <div class="text-center">
        <img class="img-fluid d-inline-block align-text-top" src="{{ url_for('static', filename='reviews_logo.png')}}" style="width:600px; height:50px">
    </div>
    <br></br>
    <div class="text-center"> 
        <strong>Please Change your location below.</strong>
    </div>
    <div class="container p-3"> 
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="mb-3 p-3">
                <div class="form-floating">
                    {% if form.location.errors %}
                        {{ form.location(class="form-control form-control-lg is-invalid") }}  
                        <div class="invalid-feedback">
                            {% for error in form.location.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.location(class="form-control form-control-md") }}
                    {% endif %}
                    {{ form.location.label(class="form-control-label") }}
                </div>
            </div>
            <div class="mb-3 p-3 text-center">
                {{ form.submit(class="btn btn-primary col-12")}}
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-3">
            <a href="/account_info">
                <i class="bi bi-arrow-left" style="font-size:30px; color:#F9ED69"></i>
            </a>
        </div>
        <div class="col-2"></div>
        <div class="col">
            <a href="/">
                <i class="bi bi-house" style="font-size:30px; color:#F9ED69"></i>
            </a>
        </div>
    </div>
</div>

{% endblock content %}