{% extends "layout.html" %}
{% block content %}
<div style="background-color:#B83B5E;">
    <br></br>
    <br></br>
    <br></br>
    <div class="container p-3 rounded-3" style="background-color:#6A2C70; width: 800px; color:#F9ED69">
        <div class="container" style="width:700px">
            <div class="text-center">
                <h1>Change your phone number</h1>
                <br></br>
                <p style="font-size:18px"><strong>Please input your new phone number below.</strong></p>
            </div>
            <br></br>
            <div class="row p-3">
                <div class="col">
                    <p style="font-size:22px">Current Phone Number</p>
                </div>
                <div class="col">
                    <p style="font-size:18px">{{ restaurant.phone_number }}</p>
                </div>
            </div>
            <br></br>
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="mb-3 p-3">
                    <div class="form-floating">
                        {% if form.phone_number.errors %}
                            {{ form.phone_number(class="form-control form-control-lg is-invalid") }}  
                            <div class="invalid-feedback">
                                {% for error in form.phone_number.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.phone_number(class="form-control form-control-lg", maxlength="8") }}
                        {% endif %}
                        {{ form.phone_number.label(class="form-control-label") }}
                    </div>
                </div>
                <div class="mb-3 p-3 text-center">
                    {{ form.submit(class="btn btn-primary col-12")}}
                </div>
            </form>
        </div>
    </div>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
</div>
{% endblock content %}