{% extends "layout_login.html" %}
{% block content %}
<br></br>
<br></br>
<br></br>
<div class="container p-3 rounded-3" style="background-color:#B83B5E; width:1000px; color:#F9ED69">
    <div class="text-center">
        <img src="{{ url_for('static', filename='title.png')}}"></img>
    </div>
    <br></br>
    <div class="text-center"> 
        <p style="font-size:18px"><strong>Please Enter the questions below.</strong></p>
    </div>
    <div class="row p-1 align-items-center text-center">
        <div class="col-1 m-1 p-2"></div>
        <div class="col-4 m-1 p-2">
            <p style="font-size:22px">Is the restaurant in our database?</p>
        </div>
        <div class="col-1 m-1 p-2"></div>
        <div class="col-4 m-1 p-2">
            <p style="font-size:18px">{{ valid_restaurant }}</p>
        </div>
    </div>
    <div class="row p-1 align-items-center text-center">
        <div class="col-1 m-1 p-2"></div>
        <div class="col-4 m-1 p-2">
            <p style="font-size:22px">Is there a user that owns this restaurant?</p>
        </div>
        <div class="col-1 m-1 p-2"></div>
        <div class="col-4 m-1 p-2">
            <p style="font-size:18px">{{ potential_owner_result }}</p>
        </div>
    </div>
    <div class="row p-1 align-items-center text-center">
        <div class="col-1 m-1 p-2"></div>
        <div class="col-4 m-1 p-2">
            <p style="font-size:22px">Does the user applying already own a restaurant?</p>
        </div>
        <div class="col-1 m-1 p-2"></div>
        <div class="col-4 m-1 p-2">
            <p style="font-size:18px">{{ potential_owner_result }}</p>
        </div>
    </div>
    <div class="row p-1 align-items-center text-center">
        <div class="col-1 m-1 p-2"></div>
        <div class="col-4 m-1 p-2">
            <p style="font-size:22px">Explanation</p>
        </div>
        <div class="col-1 m-1 p-2"></div>
        <div class="col-4 m-1 p-2">
            <p style="font-size:18px">{{ reason }}</p>
        </div>
    </div>
    <div class="row p-1">
        <div class="col-1 m-1"></div>
        <div class="col-10 m-1 p-2">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <div class="mb-3 p-3">
                    {{ form.status.label(class="form-control-label") }}
                    {% if form.status.errors %}
                        {{ form.status(class="form-control form-control-lg is-invalid") }}  
                        <div class="invalid-feedback">
                            {% for error in form.status.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.status(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="mb-3 p-3 text-center">
                    {{ form.submit(class="btn btn-primary col-12")}}
                </div>
            </form>
        </div>
    </div>
</div>
<br></br>
<br></br>
<br></br>


{% endblock content %}